{{#articles}}
  <li class="article" data-id="{{id}}">
    <span class="upvote-cotainer">
      <a href="#" class="muted upvote{{^../isLoggedIn}} hide{{/../isLoggedIn}}">&#x25B2;</a>
    </span>
    
    <a href="{{url}}">{{title}}</a>
    <span class="muted">({{host}})</span>

    <br>

    <small class="muted">
      <span class="points">{{points}}</span> points |
      posted <time class="timeago" datetime="{{created_at}}">{{created_at}}</time>
    </small>
  </li>
{{/articles}}
