<h3>Add a Post</h3>

<form id="article-form" class="form-horizontal">
  <fieldset>

    {{input 'article' 'title' 'text' 'Title' title}}

    {{input 'article' 'url' 'text' 'URL' url}}

  </fieldset>

  <fieldset class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
  </fieldset>
</form>
