<div class="control-group">
  <label for="{{objectName}}-{{fieldName}}" class="control-label">{{displayName}}:</label>
  <div class="controls">
    <input type="{{type}}" name="{{fieldName}}" id="{{objectName}}-{{fieldName}}"{{#value}} value="{{.}}"{{/value}}>
  </div>
</div>