<form id="login-form" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Login</h3>
  </div>

  <fieldset class="modal-body">

    {{input 'login' 'email' 'text' 'Email' email}}

    {{input 'login' 'password' 'password' 'Password' null}}

  </fieldset>

  <fieldset class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button type="submit" class="btn btn-primary">Login</button>
  </fieldset>
</form>
