<h3>Login</h3>

<form id="login-form" class="form-horizontal">
  <fieldset>

    {{input 'login' 'email' 'text' 'Email' email}}

    {{input 'login' 'password' 'password' 'Password' null}}

  </fieldset>

  <fieldset class="form-actions">
    <button type="submit" class="btn btn-primary">Login</button>
  </fieldset>
</form>
