<div class="navbar-inner">
  <a class="brand" href="#">Hacker News</a>
  {{#isLoggedIn}}
    <ul class="nav pull-left">
      <li>
        <a href="#new_article" id="new-article">Add a Post</a>
      </li>
    </ul>

    <ul class="nav pull-right">
      <li class="dropdown account-tab">
        <a class="dropdown-toggle usermenu" data-toggle="dropdown" href="#"><span class="username">{{username}}</span> <i class="icon-chevron-down icon-white"></i></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li>
            <a href="#account">Account Info</a>
          </li>
          <li>
            <a href="#edit_account" id="edit-account">Update Account</a>
          </li>
        </ul>
      </li>
      <li>
       <a href="#logout" class="logout">Logout</a> 
      </li>
    </ul>
  {{/isLoggedIn}}

  {{^isLoggedIn}}
    <ul class="nav pull-right">
      <li>
        <a href="#login" id="login">Login</a>
      </li>
      <li>
        <a href="#sign_up" id="sign-up">Sign Up</a>
      </li>
    </ul>
  {{/isLoggedIn}}
</div>
