<form id="signup-form" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Sign Up</h3>
  </div>

  <fieldset class="modal-body">

    {{input 'signup' 'username' 'text' 'Username' username}}

    {{input 'signup' 'email' 'text' 'Email' email}}

    {{input 'signup' 'password' 'password' 'Password' null}}

    {{input 'signup' 'password_confirmation' 'password' 'Confirm Password' null}}

  </fieldset>

  <fieldset class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </fieldset>
</form>
