#content {
  padding: 30px 5%;
}

.modal {
  width: 800px;
  margin-left: -400px;
}

.modal form {
  margin-bottom: 0px;
}

a.upvote:hover {
  text-decoration: none;
}

li.article {
  margin-bottom: 7px;
}

li.article small {
  margin-left: 18px;
}

.upvote-cotainer {
  display: inline-block;
  width: 14px;
}
