<form id="account-form" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Edit Account</h3>
  </div>

  <fieldset class="modal-body">

    {{input 'account' 'username' 'text' 'Username' username}}

    {{input 'account' 'email' 'text' 'Email' email}}

    {{input 'account' 'password_confirmation' 'password' 'Password' null}}

    {{input 'account' 'password_confirmation' 'password' 'Confirm Password' null}}

  </fieldset>

  <fieldset class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" type="button">Close</button>
    <button type="submit" class="btn btn-primary">Update</button>
  </fieldset>
</form>
