<div class="article upvotable" data-id="{{id}}" data-type="Article">
  {{> article}}
</div>

<form id="comment-form">
  <fieldset>

    <div class="control-group">
      <div class="controls">
        <textarea name="body" id="comment-body" rows="5"></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Add Comment</button>
    
  </fieldset>
</form>
